.progress-bar .bar {
    -fx-background-color: rgb(99, 255, 109);
    -fx-background-insets: 7 1 2 7;
    -fx-background-radius: 10;
}

.progress-bar .track {
    -fx-background-color: rgb(210, 209, 205);
    -fx-background-insets: 7 1 2 7;
    -fx-background-radius: 10;
}